.wrap {
  display: flex;
}

.title {
  flex: none;
  width: 30%;
}

.title h2 {
  font-size: 16px;
  font-family: var(--title-font);
  letter-spacing: 1px;
}
.title span {
  opacity: 0.5;
  font-size: 14px;
}

.description {
  flex: 1;
  font-size: 14px;
}
